@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Stephy's VS Assignment'</h1>
    <p>It's Here..' <a href="https://youtu.be/_z-1fTlSDF0"> My Favorite Song...!</a>.</p>
</div>
